h1{
    background-color: rgb(77, 139, 255);
margin: 0%;
padding: 5px;
}
#showsketch{float:right}
button{
    background-color: rgb(183, 183, 255);
    font-size: 20px;
    border-radius: 9px;
}
canvas{
    border: 5px solid rgb(49, 58, 195);
    border-radius :25px;
    margin-left:10px;
    margin-top:50px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 38px rgb(41, 80, 255);}
    to{box-shadow: 1px 1px 32px rgb(211, 211, 211);}
}